body{
    background-color: #F5F5F5;
    display:flex;
    flex-wrap:wrap;
    align-items:baseline;
    justify-content:space-between;
    display:block;
    padding:0 0 20px;

    font-size:16px;
    line-height:16px;
    font-weight:700;
    margin:0;
    border-bottom:1px

}

header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    
}

footer{
    background-color: orange;
    

}