{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DNS Сервис{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>DNS Сервис</h1>
    </header>

    {% for product in object_list %}

    <p>{{ product.title }}</p>
    <p>{{ product.number }}</p>
    <p>{{ product.creator }}</p>
    <p>{{ product.about }}</p>
    <p>{{ product.price }}</p>
    <button><a href="{% url 'delete' product.pk %}">Удалить</a></button>
    <hr>
    {% endfor %}

    <footer>
        <p>2024 DNS Сервис. Все права защищены.</p>
    </footer>
</body>
</html>