{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DNS Сервис{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>DNS Сервис</h1>
    </header>

    {% for product in object_list %}

    <p>Title: {{ product.title }}</p>
    <p>Author: {{ product.author }}</p>
    <p>Date of create: {{ product.date_of_create }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Price: {{ product.price }}</p>
    <a href="{% url 'detail' product.pk %}">Read More</a>
    <a href="{% url 'delete' product.pk %}">Delete</a>
    <hr>

    {% endfor %}
    <a href="{% url 'create' %}">Add post</a>

    <footer>
        <p>&copy; 2023 DNS Сервис. Все права защищены.</p>
    </footer>
</body>
</html>